*{
    margin: 5px;
    padding: 5px;
    background: rgb(121, 177, 214);
}
header{
    text-align: center;
    font-size : 5vw;
    font-family: 'Shadows Into Light', cursive;
    text-align : center;
    background-color : rgb(121, 177, 214);
    animation-name: initial;
    animation-duration: 2s;
    animation-delay: 1s;
    display: inline-block;
    width:100%;
}

@keyframes cambiarColor {
    from {background-color: rgb(121, 177, 214);}
    to {background-color: yellow;}
}
nav{
    background-color: rgb(121, 177, 214);
    font-size: 2vw;
    display: inline-block;
    width:100%;
}
main{
    background-color: rgb(121, 177, 214);
    text-align: center;
    font-size: 3vw;
    padding: 30px;
    display: inline-block;
    width:100%;
}
p{
    font-family: 'Shadows Into Light', cursive;
    font-size: 3vw;
}

a:link {
    color: red;
}
a:visited {
    color: #0004ff;
  }
a:hover {
    background-color: yellow;
}
a:active {
    background-color: green; color: white;
}
::selection{
      background-color: lightsalmon;
    }
#flex-container{
    width: 50%;
}